:root {
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    box-shadow: var(--shadow);
    
}

.main-nav ul {
    display: flex;
    list-style-type: none;
}
.main-nav li {
    margin-left: 2rem;
}

.main-nav a:hover{
    color: black;
    box-shadow: var(--shadow);
}

.main-nav a.active{
    border-bottom: 3px solid
}
a {
    color: brown;
    text-decoration: none;
}

.inicio {
    min-height: 80vh;
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-title {
    padding: 3%;
    color: burlywood;
    justify-content: center;
    text-align: center;
}
.tarjetas {
    margin: 1%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.tarjeta {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    
}
.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

.tarjeta:hover{
    transform: translateY(-5px);
}

.nombre-comida {
    margin: 4%;
    padding-left: 3%;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.precio {
    padding: 4%;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-family: monospace;
}
.despedida {
    min-height: 80vh;
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.derechos {
    justify-content: left;
}

.contactos {
    display: flex;
    flex-direction: column;
}
.contacto-numero {
    display: flex;
    justify-content: right;
    align-items: start;
}
.contacto-ubi {
    justify-content: right;
    align-items: start;
}
#footer {
    display: flex;
    margin-top: 4%;
    background-color: gray;
    padding: 2.5rem;
    justify-content: center;
}

p.under-header{
    margin-top: 16px;
}

p {
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;

}